@import 'tailwindcss';

@font-face {
  font-family: 'Geist Mono';
  src: url('assets/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
